<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Filters</title>
        <link rel="stylesheet" href="{{url_for('static', filename='cam.css')}}">
    </head>
    <body>
        <header>
            <p class="greeting">hey there, {{name}}!</p>
            <div class="cam-container">
                <img class ="camera" src="/process?char={{character}}" alt="camera">            
            </div>
        </header>
    </body>
</html>