<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Filters</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <header>
            <h1 class="title">Choose your character</h1>
            <p class="movie">pride and prejudice (2005)</p>
            <div class="buttons">
                <a class="button" href="{{url_for('cam')}}?character=flask_app/filters/fitzwilliam.jpg&name=Fitzwilliam">Fitzwilliam Darcy</a>
                <a class="button" href="{{url_for('cam')}}?character=flask_app/filters/elizabeth.jpg&name=Elizabeth">Elizabeth Bennet</a>
            </div>
            <p class="movie">twilight</p>
            <div class="buttons">
                <a class="button" href="{{url_for('cam')}}?character=flask_app/filters/edward.jpg&name=Edward">Edward Cullen</a>
                <a class="button" href="{{url_for('cam')}}?character=flask_app/filters/bella.jpg&name=Bella">Bella Swan</a>
            </div>
            <p class="movie">harry potter</p>
            <div class="buttons">
                <a class="button" href="{{url_for('cam')}}?character=flask_app/filters/harry.jpg&name=Harry">Harry Potter</a>
                <a class="button" href="{{url_for('cam')}}?character=flask_app/filters/voldemort.jpg&name=Voldemort">Voldemort</a>
            </div>
            <p class="movie">ratatouille</p>
            <div class="buttons">
                <a class="button" href="{{url_for('cam')}}?character=flask_app/filters/remy.jpg&name=Remy">Remy</a>
                <a class="button" href="{{url_for('cam')}}?character=flask_app/filters/linguini.jpg&name=Linguini">Linguini</a>
            </div>
            <p class="movie">hunger games</p>
            <div class="buttons">
                <a class="button" href="{{url_for('cam')}}?character=flask_app/filters/effie.jpg&name=Effie">Effie Trinket</a>
                <a class="button" href="{{url_for('cam')}}?character=flask_app/filters/haymitch.jpg&name=Haymitch">Haymitch Abernathy</a>
            </div>
            <p class="movie">the princess bride</p>
            <div class="buttons">
                <a class="button" href="{{url_for('cam')}}?character=flask_app/filters/inigo.jpg&name=Inigo">Inigo Montoya</a>
                <a class="button" href="{{url_for('cam')}}?character=flask_app/filters/buttercup.jpg&name=Buttercup">Buttercup</a>
            </div>
        </header>
    </body>
</html>