<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Filters</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <header>
            <h1 class="title">Choose your character</h1>
            <p class="movie">pride and prejudice (2005)</p>
            <div class="buttons">
                <a class="button" href="{{url_for('cam')}}">Fitzwilliam Darcy</a>
                <a class="button" href="{{url_for('cam')}}">Elizabeth Bennet</a>
            </div>
            <p class="movie">twilight</p>
            <div class="buttons">
                <a class="button" href="{{url_for('cam')}}">Edward Cullen</a>
                <a class="button" href="{{url_for('cam')}}">Bella Swan</a>
            </div>
            <p class="movie">harry potter</p>
            <div class="buttons">
                <a class="button" href="{{url_for('cam')}}">Harry Potter</a>
                <a class="button" href="{{url_for('cam')}}">Voldemort</a>
            </div>
            <p class="movie">ratatouille</p>
            <div class="buttons">
                <a class="button" href="{{url_for('cam')}}">Remy</a>
                <a class="button" href="{{url_for('cam')}}">Linguini</a>
            </div>
            <p class="movie">ratatouille</p>
            <div class="buttons">
                <a class="button" href="{{url_for('cam')}}">Remy</a>
                <a class="button" href="{{url_for('cam')}}">Linguini</a>
            </div>
            <p class="movie">the princess bride</p>
            <div class="buttons">
                <a class="button" href="{{url_for('cam')}}">Inigo Montoya</a>
                <a class="button" href="{{url_for('cam')}}">Buttercup</a>
            </div>
        </header>
    </body>
</html>